body {
    font-family: Arial, sans-serif;
    background-color: #20263c;
    height: 100vh;
}

.container .row{
    height: 100vh;
    display: flex;
    align-items: center;
}
.col-4 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.video-container {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

#modal-toggle {
    display: none;
}

/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    display: none;
    align-items: center;
    justify-content: center;
}

/* Modal content */
.modal-content {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    position: relative;
}

/* Show modal when checkbox is checked */
 #modal-toggle:checked + .modal {
    display: flex;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.open-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}