body {
    font-family: Arial, sans-serif;
    background-color: #20263c;
    height: 100vh;
}

.container .row{
    height: 100vh;
}
.login .row{
    display: flex;
    align-items: center;
}
.col-4 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.video-container {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

#modal-toggle {
    display: none;
}

/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    display: none;
    align-items: center;
    justify-content: center;
}

/* Modal content */
.modal-content {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    position: relative;
}
#cameraModal .modal-dialog{
    padding: 5px;
    /* width: 1000px; */
}
#cameraModal .modal-content{
    max-width: 100%;
    margin: 0;
    padding: 5px;
    text-align: left;
}
#loadExcelModal .modal-content{
    max-width: 100%;
    margin: 0;
    padding: 5px;
    text-align: left;
}
.camera-section {
    margin-top: 20px;
    position: relative;
    display: block;
    /* height: 300px; */
}
video {
    width: 260px;
    /* width: 100%; */
    /* height: 280px; */
    border: 2px solid #444;
    border-radius: 8px;
}

#countdown {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 30px;
    border-radius: 5px;
}
canvas {
    width: 300px;
    border: 2px solid #444;
    border-radius: 8px;
}
.login canvas,
.login video{
    border: none;
}

/* Show modal when checkbox is checked */
 #modal-toggle:checked + .modal {
    display: flex;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.open-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table tbody tr td{
    vertical-align: middle;
    word-wrap: break-word;
}
.history table tbody tr td:nth-child(2){
    font-weight: bold;
    color: blue;
}
.register table tr th:first-child,
.register table tr td:first-child{
    font-weight: bold;
    text-align: center;
}
.register table tr th:last-child,
.register table tr td:last-child{
    text-align: center;
    border-left: 1px dashed black;
    width: 110px;
}
#loadExcelModal .table-responsive{
    max-height: 450px;
    overflow-y: scroll;
    margin: 10px 0;
}